# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local

# Build output
dist/
package-lock.json
snc-desktop/
SNC-APP-v1.0.0-win/
snc-desktop/
