@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
  --color-primary-light: #dcfce7;
}

:root {
  --primary: #16a34a;
  --primary-dark: #15803d;
  --primary-light: #dcfce7;
}

body {
  @apply bg-slate-50 text-slate-900;
  font-family: 'Inter', sans-serif;
}
